<!-- Page Wrapper -->
<div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="index.html">Shujin Wu</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/resume.html">résumé</a></li>
                <li><a href="/resources.html">Resources</a></li> 
                <li><a href="/categories.html">Notes</a></li>
                <li><a href="/archive.html">Archive</a></li>
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>